*.pyc
*.so
*.swp
muesli.sqlite
muesli.yml
alembic.ini
.cache
TODO
.coverage
coverage.xml

venv
.idea
.pytest_cache
maintainance_scripts
**/header.txt

# External JS files
muesli/web/static/js/**

# External CSS files
muesli/web/static/css/*

docker/docker-compose.github-actions.yml
