*.pyc
*.so
*.swp
muesli.sqlite
muesli.yml
alembic.ini
.cache
TODO
.coverage

venv
.idea
.pytest_cache
maintainance_scripts
**/header.txt

# External JS files
muesli/web/static/js/captcha.min.js
muesli/web/static/js/jquery.min.js
muesli/web/static/js/select2.min.js
muesli/web/static/js/jquery.tablesorter.min.js
muesli/web/static/js/jquery.fancybox.min.js
muesli/web/static/js/popper.min.js
muesli/web/static/js/bootstrap.min.js

# External CSS files
muesli/web/static/css/select2.css
muesli/web/static/css/jquery.fancybox.min.css
muesli/web/static/css/bootstrap.min.css
