---
version: '3.2'

services:
  postgres:
    ports:
      - '127.0.0.1:5433:5432'
  muesli:
    ports:
      - '8080:8080'
      - '127.0.0.1:8081:8081'
    volumes:
      - './:/opt/muesli4'
  mailcatcher:
    ports:
      - '127.0.0.1:8082:1080'
